  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  .snakeBoard{
    width: 845px;
    height: 920px;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:flex-start;
    border: solid 1px green
  }


  
  .box {
      background: white;
      border: solid 1px green;
      width: 40px;
      height: 40px;

  }
  
  .snake{
    background: rgb(208, 10, 10);
  }

  .food{
    background: blue;
  }